/* ----- General ----- */

@font-face {
   font-family: "Levenim_MT";
   src: url("Levenim_MT.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Lato";
   src: url("Lato-Regular.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
}

@keyframes blink {
   0%,
   100% {
      opacity: 1;
   }
   50% {
      opacity: 0;
   }
}

@keyframes slide {
   0% {
      transform: translateX(0);
   }
   100% {
      transform: translateX(700%);
   }
}

@keyframes shake {
   0%,
   100% {
      transform: translate(1px, 1px) rotate(0deg);
   }
   10%,
   50%,
   90% {
      transform: translate(-1px, -2px) rotate(-1deg);
   }
   20%,
   60% {
      transform: translate(-3px, 0px) rotate(1deg);
   }
   30%,
   70% {
      transform: translate(3px, 2px) rotate(0deg);
   }
   40%,
   80% {
      transform: translate(1px, -1px) rotate(1deg);
   }
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
}

body {
   font-family: "Levenim_MT", fallback_font_family, sans-serif;
   background-color: rgb(240, 245, 245);
   scroll-behavior: smooth;
   color: #252525;
}

a {
   color: #0b89a8;
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

button {
   font-family: "Lato", sans-serif;
   font-weight: 100;
}

h1 {
   font-size: 3.5rem;
   font-weight: 300;
}

h2 {
   font-size: 3rem;
   font-weight: 300;
}

h3 {
   font-size: 2.5rem;
   font-weight: 300;
}

h4 {
   font-size: 2rem;
   font-weight: 300;
}

h5 {
   font-size: 1.75rem;
   font-weight: 300;
}

h6 {
   font-size: 1.5rem;
   font-weight: 300;
}

p {
   font-size: 20px;
}

/* ----- Header ----- */

header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-weight: bold;
   background-color: rgb(210, 225, 225);
   user-select: none;
   outline: none;
   z-index: 1;
}

header img {
   height: 75px;
   margin: -5px 20px -15px 20px;
}

header a {
   color: inherit;
   margin: 0 10px;
}

.alt_header {
   background-color: transparent;
   color: rgb(210, 225, 225);
   transition: 0.5s ease;
}

.new_alt_header {
   background-color: rgb(210, 225, 225);
   color: #252525;
}

.hamburger-menu {
   display: none;
   cursor: pointer;
   margin-right: 20px;
}

.bar {
   width: 25px;
   height: 3px;
   background-color: #333;
   margin: 6px 0;
}

.visible {
   display: flex !important;
   flex-direction: column;
   row-gap: 20px;
}

/* ----- Footer ----- */

footer {
   position: relative;
   bottom: 0;
   width: 100%;
   display: grid;
   place-content: center;
   background-color: rgb(210, 225, 225);
   grid-template-columns: 5% 65% 10% 10%;
   grid-template-rows: 4rem 4rem 4rem 4rem 2.5rem;
   padding-top: 2.5rem;
   user-select: none;
   outline: none;
}

footer img {
   height: 100px;
   margin: -10px 25px;
}

footer a {
   color: inherit;
}

#g1 {
   grid-area: 1 / 1 / 1 / 1;
}

#g2 {
   grid-area: 1 / 3 / 1 / 3;
}

#g3 {
   grid-area: 2 / 3 / 2 / 3;
}

#g4 {
   grid-area: 3 / 3 / 3 / 3;
}

#g5 {
   grid-area: 4 / 3 / 4 / 3;
}

#g6 {
   grid-area: 1 / 4 / 1 / 4;
}

#g7 {
   grid-area: 2 / 4 / 2 / 4;
}

#g8 {
   grid-area: 3 / 4 / 3 / 4;
}

#g9 {
   grid-area: 5 / 1 / 5 / 4;
}

footer p {
   font-size: 0.65rem;
   text-align: center;
   padding: 10px 0 0 200px;
}

/* ----- Home Page ----- */

#start {
   width: 100%;
   box-sizing: border-box;
   overflow: hidden !important;
   object-fit: cover;
}

#stylish {
   filter: brightness(0.85);
   overflow: hidden;
}

.text-container {
   position: absolute;
   top: 35%;
   left: 50%;
   display: flex;
   text-align: center;
   user-select: none;
   outline: none;
   flex-wrap: wrap;
   max-width: 625px;
   transform: translate(-50%, -50%);
   color: rgb(210, 225, 225);
}

.cursor {
   margin-left: 5px;
   animation: blink 0.75s infinite;
}

.introductory {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 35px;
   margin-bottom: 75px;
   font-size: 20px;
}

.introductory * {
   margin: 30px;
   text-align: center;
}

.alt_text {
   background-color: #02596e;
   color: #f9f9f9;
   transform: skew(-10deg);
   display: inline-block;
   margin-left: 10px;
   padding: 5px 10px;
   box-shadow: 0 0 2px rgb(30, 30, 30);
}

#slider {
   height: 17.5rem;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   background: url("./Assets/abstactaBG.svg");
   background-color: #02596e;
   filter: brightness(0.8125);
   border: 5px solid rgb(10, 10, 10);
   background-size: cover;
   background-position: center;
   overflow: hidden;
   user-select: none;
   outline: none;
}

img[alt="Grunge"] {
   position: absolute;
   object-fit: cover;
   object-position: center;
   opacity: 0.175;
   z-index: 1;
}

img[alt="All YT Thumbnail"] {
   border: 1px solid rgb(30, 30, 30);
   box-shadow: 0 0 5px rgb(10, 10, 10);
   animation: slide 80s infinite linear;
   border-radius: 10px;
   margin: 20px;
}

section {
   opacity: 0;
   transform: translateY(50px);
   transition: opacity 2s ease, transform 1s ease;
}

section.activated {
   opacity: 1;
   transform: translateY(0);
}

.welcome {
   display: grid;
   margin: 10rem 15rem;
   grid-template-columns: 50% 50%;
   gap: 2.5rem;
}

.welcome img {
   display: flex;
   justify-self: center;
   align-self: center;
   height: 30rem;
   border-radius: 20px;
   border: 2px solid #02596e;
   grid-area: 1 / 1 / 1 / 1;
}

.welcome img:hover {
   scale: 1.005;
   animation: shake 4s infinite;
}

.welcome div {
   display: flex;
   justify-content: center;
   align-items: start;
   flex-direction: column;
   row-gap: 3rem;
   grid-area: 1 / 2 / 1 / 2;
}

.welcome h1 {
   font-size: 35px;
}

/* ----- Dashboard Page ----- */

#videolist {
   display: flex;
   flex-direction: column;
   margin: 7.5rem 10rem;
   gap: 3rem;
}

#selecters {
   display: flex;
   justify-content: space-evenly;
	font-size: 1.25rem;
}

label {
   margin-right: 1rem;
}

select {
   padding: 7px;
   font-size: 1.15rem;
   color: rgb(30, 30, 30);
   background-color: rgb(240, 245, 245);
   border: #303030 solid 1px;
   border-radius: 5px;
}

#allvideos {
   display: flex;
   justify-content: center;
   row-gap: 2rem;
   column-gap: 1rem;
   flex-wrap: wrap;
}

.video {
   display: grid;
   grid-template-rows: 210px auto;
   grid-template-columns: 60px 300px;
   font-family: "Lato", sans-serif;
   transition: 0.5s ease;
   padding-bottom: 25px;
   border-radius: 20px;
}

.video:hover {
   scale: 1.0125;
   cursor: pointer;
   background-color: rgb(200, 215, 215);
   transition: 0.5s ease;
   text-decoration: none;
}

.yt_thumbnail {
   display: flex;
   align-self: center;
   justify-self: center;
   width: 300px;
   border-radius: 5px;
   grid-area: 1 / 1 / 1 / 3;
}

.duration {
   position: absolute;
   margin-top: 9.5rem;
   margin-left: 17rem;
   font-size: 14px;
   grid-area: 1 / 1 / 1 / 3;
   background-color: rgba(0, 0, 0, 0.75);
   color: rgb(210, 225, 225);
   border-radius: 3px;
   padding: 3px;
}

.yt_channel {
   display: flex;
   justify-self: center;
   border-radius: 50%;
   width: 40px;
   grid-area: 2 / 1 / 2 / 1;
}

.yt_info {
   min-width: 250px;
   color: #252525 !important;
   grid-area: 2 / 2 / 2 / 3;
}

.yt_info * {
   padding: 5px 0;
}

/* ----- Api Page ----- */

#partition {
   position: fixed;
   display: flex;
   flex-direction: column;
   margin: 2rem 15% 0 7.5%;
   color: #303030;
   gap: 1rem;
}

#api {
   display: flex;
   flex-direction: column;
   margin: 7.5rem 15% 7.5rem 25%;
   gap: 2rem;
}

ul {
   margin-left: 3rem;
}

ul * {
   padding: 5px 0;
}

.code {
   padding: 10px 30px 25px 45px;
   max-width: 80%;
   border: 1px solid #abb2bf;
   border-radius: 20px;
   color: #abb2bf;
   background-color: #282c33;
   font-family: "Droid Sans Mono", monospace;
   text-align: left;
   font-size: 0.9rem;
}

.small-screen-message {
   display: none;
}

#buttons {
   display: flex;
   margin: 0 0 -30px 30px;
   gap: 3px;
}

.programming_language {
   background-color: #282c33;
   color: #c9ced6;
   border: none;
   border-radius: 5px;
   font-size: 1.375rem;
   padding: 13px;
}

.programming_language:hover {
   cursor: pointer;
}

.selected {
   background-color: #c9ced6;
   color: #282c33;
}

.comment {
   color: #797a7c;
}

.keyword {
   color: #c778dd;
}

.function {
   color: #62aeef;
}

.operator {
   color: #55b6c2;
}

.var {
   color: #e06b74;
}

.str {
   color: #98c179;
}

.int,
.class,
.import {
   color: #e5c07a;
}

.bool,
.const {
   color: #d19a66;
}

/* ----- Newsletter Page ----- */

.decoration {
   position: absolute;
   filter: invert(20%);
   top: 37.5vh;
   height: 175px;
   z-index: -1;
}

.right {
   right: 7.5rem;
   rotate: -15deg;
}

.left {
   left: 7.5rem;
   rotate: 15deg;
}

.communication {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   flex-direction: column;
   margin: 7.5rem 22.5rem;
   scale: 0.9;
   gap: 4rem;
}

.subscribe {
   background-color: #0b89a8;
   color: rgb(230, 250, 250);
   border-radius: 30px 10px 20px 5px;
   box-shadow: 5px 5px 0 rgb(30, 30, 30);
   transition: 0.5s ease;
   border: none;
   font-size: 2rem;
   padding: 20px;
}

.subscribe:hover {
   cursor: pointer;
   scale: 1.075;
   background-color: #157a94;
   transition: 0.5s ease;
}

.popup {
   display: none;
   position: fixed;
   z-index: 2;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.7);
}

.popup-content {
   position: absolute;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: #f9f9f9;
   padding: 1rem;
   border-radius: 3rem;
}

.popup-content img {
   width: 35%;
   display: flex;
   align-self: center;
   margin-bottom: -20px;
}

input[name="user_email"] {
   min-width: 1.5rem;
}

.primarybtn {
   background-color: #0b89a8;
   color: #f9f9f9;
   border-radius: 5px;
   transition: 0.5s ease;
   font-size: 1.5rem;
   padding: 10px 15px;
   border: none;
}

.primarybtn:hover {
   cursor: pointer;
   background-color: #157a94;
   color: #f0f0f0;
   scale: 1.075;
   transition: 0.5s ease;
}

#cancel {
   background-color: #f9f9f9;
   color: #0b89a8;
   border: #0b89a8 1px solid;
   border-radius: 5px;
   transition: 0.5s ease;
   font-size: 1.5rem;
   padding: 10px 15px;
   margin-left: 1rem;
}

#cancel:hover {
   cursor: pointer;
   background-color: #f0f0f0;
   color: #157a94;
   scale: 1.075;
   transition: 0.5s ease;
}

.news_btn {
   display: flex;
   align-items: normal;
   justify-content: space-around;
}

.popup-content label {
   font-size: 1.4rem;
}

.popup-content select {
   scale: 1;
   background-color: #f9f9f9;
}

/* ----- Contact Page ----- */

.contact {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   flex-direction: column;
   margin: 5rem 20rem;
   scale: 0.9;
   gap: 3rem;
}

form {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   row-gap: 3rem;
   margin: 3rem 5rem;
}

.form-group {
   display: flex;
   align-items: flex-start;
   width: fit-content;
   column-gap: 4rem;
}

.form-group div {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: left;
   width: 20rem;
}

.form-group label {
   font-size: 1.35rem;
   font-weight: bold;
}

.form-group small {
   font-size: 0.85rem;
}

input,
textarea {
   font-family: "Lato", sans-serif;
   color: #303030;
   font-size: 20px;
   min-width: 55rem;
   background-color: rgb(240, 245, 245);
   border: 1px solid #a3a5a8;
   border-radius: 10px;
}

input {
   min-height: 3rem;
   padding: 0 5px;
}

textarea {
   padding: 5px;
   min-height: 20rem;
   resize: none;
}

.submitbtn {
   width: 75%;
   padding: 10px;
   margin-top: 50px;
   transition: 0.5s ease;
   font-size: 1.25rem;
   background-color: #0b89a8;
   color: rgb(230, 250, 250);
   border-radius: 5px;
   border: none;
}

.submitbtn:hover {
   cursor: pointer;
   background-color: #157a94;
   transition: 0.5s ease;
}

/* ----- Explaination Page ----- */

#explaination {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   flex-direction: column;
   margin: 7.5rem 15rem;
   gap: 5rem;
}

#explaination h4 {
   margin: -1.5rem;
}

#explaination p {
   margin: -1.25rem;
}

.python_img {
   width: 50%;
   border: 4px solid #252525;
   border-radius: 15px;
}

/* ----- About Me & Privacy Policy Page ----- */

.plain_text {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 7.5rem 25rem;
   gap: 25px;
}

#based {
   width: 85%;
   display: flex;
   align-self: center;
   border: 3px solid #0b89a8;
   border-radius: 15px;
   margin-bottom: 15px;
}

/* ----- Media Queries ----- */

/* Extra small devices */
@media only screen and (min-width: 1px) and (max-width: 549px) {
   .nav-links {
      display: none;
      top: 50px;
      right: 20px;
      position: absolute;
      max-width: fit-content;
      color: #252525;
      background-color: rgb(210, 225, 225);
      padding: 20px 10px;
      border: 1px solid #252525;
      border-radius: 5px;
      box-shadow: 0 0 5px rgb(10, 10, 10);
      z-index: 2;
   }

   .hamburger-menu {
      display: block;
   }

   footer {
      grid-template-columns: 20% 0% 40% 40%;
      grid-template-rows: 3rem 3rem 3rem 5rem 6rem;
   }

   footer img {
      display: none;
   }

   footer p {
      font-size: 9px;
      grid-area: 5 / 2 / 5 / 4 !important;
      padding: 0 0 0 4rem;
   }

   h1 {
      font-size: 1.5rem;
   }

   h2 {
      font-size: 1.4rem;
   }

   h3 {
      font-size: 1.3rem;
   }

   h4 {
      font-size: 1.2rem;
   }

   h5 {
      font-size: 1.1rem;
   }

   h6 {
      font-size: 1rem;
   }

   p {
      font-size: 15px;
   }

   #stylish {
      width: 100vh;
      margin-left: -50%;
   }

   .text-container {
      top: 17.5%;
   }

   .introductory * {
      margin: 20px;
   }

   .welcome {
      margin: 5rem 2rem;
      gap: 1rem;
   }

   .welcome img {
      height: 10rem;
      border-radius: 10px;
      border: 1px solid #02596e;
   }

   .welcome div {
      row-gap: 1rem;
   }

   .welcome h1 {
      font-size: 25px;
   }

   #partition,
   .code,
   .math,
   .decoration {
      display: none;
   }

   #api {
      margin: 6.5rem 3rem;
      gap: 1rem;
   }

   .small-screen-message {
      display: block;
      font-size: 1rem;
      padding: 20px;
      border: 1px solid #abb2bf;
      border-radius: 15px;
      color: #abb2bf;
      background-color: #282c33;
      font-family: "Droid Sans Mono", monospace;
      text-align: center;
   }

   #buttons {
      margin: 0 0 -10px 5px;
      gap: 3px;
   }

   .programming_language {
      font-size: 1.25rem;
      padding: 10px;
   }

   #videolist {
      margin: 6.5rem 3rem;
      gap: 0.5rem;
   }

   #selecters {
      font-size: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
   }

   select {
      padding: 3px;
      font-size: 0.85rem;
   }

   #allvideos {
      margin-top: 20px;
      row-gap: 1rem;
   }

   .communication {
      margin: 6.5rem 3rem;
      scale: 1;
      gap: 2.5rem;
   }

   .subscribe {
      font-size: 1.5rem;
      padding: 15px;
   }

   .popup-content {
      padding: 0;
      border-radius: 2rem;
   }

   .popup-content > form {
      row-gap: 0.5rem;
   }

   .popup-content > form > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   .popup-content img {
      width: 25%;
      margin-top: 20px;
      margin-bottom: -20px;
   }

   .primarybtn {
      font-size: 1.25rem;
      padding: 8px 12px;
   }

   #cancel {
      font-size: 1.25rem;
      padding: 8px 12px;
      margin-left: 0rem;
      margin-top: -5px;
   }

   .popup-content label {
      font-size: 0.8rem;
      margin-bottom: 0.5rem;
   }

   .news_btn > * {
      margin: 1rem;
   }

   .plain_text {
      margin: 6.5rem 3rem;
      gap: 20px;
   }

   #explaination {
      margin: 6.5rem 3rem;
      gap: 3rem;
   }

   #explaination h4 {
      margin: -0.5rem;
   }

   #explaination p {
      margin: -0.25rem;
   }

   .python_img {
      width: 75%;
      border: 2px solid #252525;
      border-radius: 10px;
   }

   .contact {
      margin: 5rem 3rem;
      gap: 2rem;
   }

   form {
      row-gap: 3rem;
      margin: 3rem 5rem;
   }

   .form-group {
      flex-direction: column;
      column-gap: 4rem;
   }

   .form-group div {
      width: 20rem;
   }

   .form-group label {
      font-size: 1.35rem;
      font-weight: bold;
   }

   input,
   textarea {
      font-size: 15px;
      min-width: 25rem;
   }

   .submitbtn {
      width: 25%;
      margin-top: 10px;
   }
}

/* Small devices */
@media only screen and (min-width: 550px) and (max-width: 767px) {
   .nav-links {
      display: none;
      top: 50px;
      right: 20px;
      position: absolute;
      max-width: fit-content;
      color: #252525;
      background-color: rgb(210, 225, 225);
      padding: 20px 10px;
      border: 1px solid #252525;
      border-radius: 5px;
      box-shadow: 0 0 5px rgb(10, 10, 10);
      z-index: 2;
   }

   .hamburger-menu {
      display: block;
   }

   footer {
      grid-template-columns: 10% 35% 20% 25%;
      grid-template-rows: 4rem 4rem 4rem 5rem 3rem;
   }

   footer p {
      padding: 0 0 0 7.5rem;
   }

   h1 {
      font-size: 1.75rem;
   }

   h2 {
      font-size: 1.6rem;
   }

   h3 {
      font-size: 1.45rem;
   }

   h4 {
      font-size: 1.3rem;
   }

   h5 {
      font-size: 1.15rem;
   }

   h6 {
      font-size: 1.05rem;
   }

   p {
      font-size: 17px;
   }

   #stylish {
      width: 140vh;
      margin-left: -40%;
   }

   .text-container {
      top: 22.5%;
   }

   .introductory * {
      margin: 25px;
   }

   .welcome {
      margin: 5rem 3rem;
      gap: 1.25rem;
   }

   .welcome img {
      height: 14rem;
      border-radius: 10px;
   }

   .welcome div {
      row-gap: 2rem;
   }

   .welcome h1 {
      font-size: 28px;
   }

   #partition,
   .code,
   .math,
   .decoration {
      display: none;
   }

   #api {
      margin: 6.5rem 4rem;
      gap: 1rem;
   }

   .small-screen-message {
      display: block;
      font-size: 1rem;
      padding: 20px;
      border: 1px solid #abb2bf;
      border-radius: 15px;
      color: #abb2bf;
      background-color: #282c33;
      font-family: "Droid Sans Mono", monospace;
      text-align: center;
   }

   #buttons {
      margin: 0 0 -10px 5px;
      gap: 3px;
   }

   .programming_language {
      font-size: 1.25rem;
      padding: 10px;
   }

   #videolist {
      margin: 6.5rem 2rem;
      gap: 0.5rem;
   }

   #selecters {
      font-size: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
   }

   select {
      padding: 10px;
      font-size: 1rem;
   }

   #allvideos {
      margin: 0 -30px;
      row-gap: 1rem;
      column-gap: 0.25rem;
   }

   .video {
      grid-template-rows: 170px 140px;
      grid-template-columns: 40px 270px;
      border-radius: 10px;
   }

   .yt_thumbnail {
      width: 240px;
   }

   .duration {
      margin-top: 7.5rem;
      margin-left: 14rem;
   }

   .yt_channel {
      width: 30px;
   }

   .yt_info {
      min-width: 225px;
   }

   .communication {
      margin: 6.5rem 4rem;
      scale: 1;
      gap: 3rem;
   }

   .subscribe {
      font-size: 1.5rem;
      padding: 15px;
   }

   .popup-content {
      padding: 0;
      border-radius: 2rem;
   }

   .popup-content > form {
      row-gap: 1rem;
   }

   .popup-content > form > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   .popup-content img {
      width: 30%;
      margin-top: 20px;
      margin-bottom: -20px
   }

   .primarybtn {
      font-size: 1.25rem;
      padding: 8px 12px;
   }

   #cancel {
      font-size: 1.25rem;
      padding: 8px 12px;
      margin-left: 0rem;
      margin-top: -5px
   }

   .popup-content label {
      font-size: 0.9rem;
      margin-bottom: 0.5rem;
   }

   .news_btn > * {
      margin: 1rem;
   }

   .plain_text {
      margin: 6.5rem 4rem;
      gap: 20px;
   }

   #explaination {
      margin: 6.5rem 4rem;
      gap: 3rem;
   }

   #explaination h4 {
      margin: -0.5rem;
   }

   #explaination p {
      margin: -0.25rem;
   }

   .python_img {
      width: 90%;
   }

   .contact {
      margin: 5rem 3rem;
      gap: 2rem;
   }

   form {
      row-gap: 3rem;
      margin: 3rem 5rem;
   }

   .form-group {
      flex-direction: column;
      column-gap: 4rem;
   }

   .form-group div {
      width: 20rem;
   }

   input,
   textarea {
      font-size: 15px;
      min-width: 35rem;
   }
}

/* Medium devices  */
@media only screen and (min-width: 768px) and (max-width: 1099px) {
   footer {
      grid-template-columns: 5% 50% 15% 20%;
      grid-template-rows: 4rem 4rem 4rem 4rem 2.5rem;
   }

   footer p {
      padding: 0 0 0 7.5rem;
   }

   h1 {
      font-size: 2.5rem;
   }

   h2 {
      font-size: 2.25rem;
   }

   h3 {
      font-size: 2rem;
   }

   h4 {
      font-size: 1.75rem;
   }

   h5 {
      font-size: 1.5rem;
   }

   h6 {
      font-size: 1.25rem;
   }

   p {
      font-size: 1rem;
   }

   #stylish {
      width: 165vh;
      margin-left: -35%;
   }

   .text-container {
      top: 27.5%;
   }

   .welcome {
      margin: 5rem 4rem;
   }

   .welcome img {
      height: 18rem;
      border-radius: 10px;
   }

   .welcome h1 {
      font-size: 30px;
   }

   #partition {
      display: none;
   }

   #api {
      margin: 7.5rem 5rem;
      gap: 1rem;
   }

   #buttons {
      margin: 0 0 -15px 30px;
      gap: 3px;
   }

   .code {
      padding: 10px 20px 25px 20px;
      max-width: 110%;
      font-size: 0.85em;
   }

   .math {
      scale: 0.85;
   }

   #videolist {
      margin: 6.5rem 3rem;
      gap: 0.5rem;
   }

   #allvideos {
      margin: 0 -30px;
      row-gap: 3rem;
      column-gap: 1rem;
   }

   .communication {
      margin: 7.5rem 5rem;
      scale: 1;
   }

   .decoration {
      height: 125px;
      top: 40%;
   }

   .left {
      left: 5rem;
   }

   .right {
      right: 5rem;
   }

   .popup-content > form {
      row-gap: 1rem;
   }

   .popup-content > form > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   .popup-content img {
      width: 40%;
      margin-top: 20px;
      margin-bottom: -20px
   }

   #cancel {
      margin-left: -1rem;
   }

   .popup-content label {
      font-size: 1rem;
      margin-bottom: 0.5rem;
   }

   .news_btn {
      display: block !important;
   }

   .plain_text {
      margin: 7.5rem;
      gap: 20px;
   }

   #explaination {
      margin: 7.5rem 5rem;
      gap: 3rem;
   }

   .contact {
      margin: 5rem;
      gap: 2.5rem;
   }

   .form-group {
      flex-direction: column;
      column-gap: 4rem;
   }

   input,
   textarea {
      min-width: 45rem;
   }
}

/* Large devices */
@media only screen and (min-width: 1100px) and (max-width: 1374px) {
   footer {
      grid-template-columns: 5% 50% 15% 20%;
   }

   footer p {
      padding: 0 0 0 10rem;
   }

   h1 {
      font-size: 3rem;
   }

   h2 {
      font-size: 2.675rem;
   }

   h3 {
      font-size: 2.3rem;
   }

   h4 {
      font-size: 1.925rem;
   }

   h5 {
      font-size: 1.575rem;
   }

   h6 {
      font-size: 1.3rem;
   }

   p {
      font-size: 1.125rem;
   }

   #stylish {
      width: 190vh;
      margin-left: -30%;
   }

   .text-container {
      top: 32.5%;
   }

   .welcome {
      margin: 5rem 7.5rem;
   }

   .welcome img {
      height: 25rem;
   }

   .welcome h1 {
      font-size: 35px;
   }

   #partition {
      display: none;
   }

   #api {
      margin: 7.5rem 10rem;
   }

   #buttons {
      margin: 0 0 -50px 90px;
      gap: 3px;
   }

   .code {
      padding: 15px 25px 30px 25px;
      max-width: 120%;
      font-size: 1rem;
      scale: 0.9;
   }

   #videolist {
      margin: 6.5rem 3rem;
      gap: 0.5rem;
   }

   #allvideos {
      margin: 0 -30px;
      row-gap: 3rem;
      column-gap: 0.75rem;
   }

   .communication {
      margin: 7.5rem 7.5rem;
      scale: 1;
   }

   .decoration {
      height: 125px;
      top: 40%;
   }

   .popup-content > form > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   .popup-content > form {
      row-gap: 1rem;
   }

   .popup-content img {
      width: 40%;
      margin-top: 20px;
      margin-bottom: -20px
   }

   .popup-content label {
      font-size: 1.3rem;
      margin-bottom: 0.5rem;
   }

   .news_btn {
      display: block !important;
   }

   .plain_text {
      margin: 7.5rem;
      gap: 20px;
   }

   #explaination {
      margin: 7.5rem 5rem;
      gap: 3rem;
   }

   .news_btn {
      display: block !important;
   }

   .plain_text {
      margin: 10rem 15rem;
   }

   #explaination {
      margin: 7.5rem;
   }

   .contact {
      margin: 6.5rem 10rem;
   }

   .form-group {
      flex-direction: column;
      column-gap: 5rem;
   }
}

/* Extra large devices */
@media only screen and (min-width: 1375px) and (max-width: 1700px) {
   #stylish {
      margin-left: -10%;
   }

   .welcome img {
      height: 22.5rem;
   }

   .code {
      padding: 15px 25px 30px 25px;
      max-width: 120%;
      font-size: 1rem;
   }

   .communication {
      margin: 7.5rem 15rem;
   }

   .decoration {
      height: 150px;
   }
}
