{% extends "base.html" %} {% block title %}
<title>Byte Picks - About Me</title>
{% endblock %} {% block content %}
<main class="plain_text">
   <h2>Who Are We ?</h2>
   <p>
      When I say 'We,' I'm referring to a lone individual. A humble developer navigating the expansive landscapes of technology. My journey is propelled by a fervor for constructing solutions, frequently encountering captivating ideas that may not
      have a monumental purpose but endure because they align with my hobbies and contribute to my continuous learning. Every so often, amidst these explorations, I stumble upon ideas that turn out to be genuinely beneficial, not only to myself but
      potentially to others as well.
   </p>

   <h4>Why Byte Picks Exists ?</h4>
   <img id="based" src="{{ url_for('static', filename='Assets/example.png') }}" alt="Byte Picks" />
   <p>
      Byte Picks didn't materialize on a whim, it was born out of a genuine need. In a digital landscape drowning in content (especially on <a href="https://www.youtube.com">Youtube</a>), I envisioned a platform that stands out by prioritizing
      quality over quantity. Byte Picks strives to be a sanctuary for tech enthusiasts, providing a curated, relevant, and insightful collection without the overwhelming noise.
   </p>

   <h4>Behind the Name: Byte Picks</h4>
   <p>
      Wondering why 'Byte Picks'? It's not as complicated as it might sound. 'Byte' symbolizes the digital realm, while 'Picks' represents our carefully selected, top-tier content. Together, these words encapsulate our commitment to delivering
      quality tech insights, one pick at a time.
   </p>

   <h4>How We Developed Byte Picks ?</h4>
   <p>
      If you're curious about the inner workings, I strongly encourage you to explore our <a href="{{ url_for('explaination') }}">Behind the Scenes</a> page. There, you can delve into the impressive efforts of our talented engineers (mainly me) who
      poured their skills into creating this service for everyday folks, free of charge or burden.
   </p>

   <h4>Why Open Source and Free ?</h4>
   <p>
      Byte Picks is proudly open source and free. Why? It's rooted in a personal belief, an aspiration for an internet that's free from spyware and censorship. There's no grand plan to monetize, it's a labor of love that I'm excited to share with the
      world.
   </p>

   <h4>Can You Contribute ?</h4>
   <p>
      Without a doubt! Byte Picks resides on <a href="https://github.com/RedeemedSpoon/BytePicks">GitHub</a>, and I welcome contributions from fellow tech enthusiasts. Join me in shaping and enhancing Byte Picks into something even more remarkable!
   </p>
</main>

{% endblock %}
