{% extends "base.html" %} {% block title %}
<title>Byte Picks - Api Docs</title>
{% endblock %} {% block content %}
<div id="partition">
   <h3>Sections :</h3>
   <a href="#overview">Overview</a>
   <a href="#details">Details</a>
   <a href="#key">API Key</a>
   <a href="#route">URL & Parameters</a>
   <a href="#example">Code Example</a>
   <a href="#output">Output Example</a>
   <a href="#notice">Notice</a>
</div>

<main id="api">
   <h2>Byte Picks API Documentation</h2>

   <h5 id="overview">What Do The Api Provide ?</h5>
   <p>
      We offers a comprehensive set of functionalities to enhance your tech video discovery experience. By leveraging our API, you can access precisely curated content based on your preferences and needs just like our dashboard. The response includes
      many detailed information for each video that might be very helpful in your program, webservice, project. We try to make it as open and easy as possible for you, for free.
   </p>

   <h5 id="details">What to Expect?</h5>
   <p>The response includes the following information for each video:</p>
   <ul>
      <li>Channel Name <span style="color: #129247">(str)</span></li>
      <li>Channel ID <span style="color: #129247">(str)</span></li>
      <li>Channel Icon <span style="color: #129247">(str)</span></li>
      <li>Channel URL <span style="color: #129247">(str)</span></li>
      <li>Video URL <span style="color: #129247">(str)</span></li>
      <li>Video Title <span style="color: #129247">(str)</span></li>
      <li>Video ID <span style="color: #129247">(str)</span></li>
      <li>Video Publish Date <span style="color: #129247">(str)</span></li>
      <li>Video Thumbnail <span style="color: #129247">(str)</span></li>
      <li>Video Duration <span style="color: #129247">(str)</span></li>
      <li>Video Definition <span style="color: #129247">(str)</span></li>
      <li>Video Language <span style="color: #129247">(str)</span></li>
      <li>Video Caption <span style="color: #1865a0">(bool)</span></li>
      <li>Video Content Rating <span style="color: #1865a0">(bool)</span></li>
      <li>Video View Count <span style="color: #bd9c17">(int)</span></li>
      <li>Video Like Count <span style="color: #bd9c17">(int)</span></li>
      <li>Video Comment Count <span style="color: #bd9c17">(int)</span></li>
      <li>Video Category ID <span style="color: #bd9c17">(int)</span></li>
   </ul>
   <p>The Videos will be sorted automatically by relevance & quality using our <a href="{{ url_for('explaination')}}">Algorithms</a> and displayed in descending order.</p>

   <h5 id="key">What About the API Key ?</h5>
   <p>
      No API key is required to access the Byte Picks API. We believe in providing an open and free service without the need for user accounts or monetary transactions. This makes it easier for developers to integrate and explore our API without any
      barriers or paywalls.
   </p>

   <h5 id="route">What Are the URL & Parameters ?</h5>
   <h6>Uniform Resource Locator (URL) :</h6>
   <div class="code" style="padding: 15px">
      <code>https://bytepicks.com/api/request</code>
   </div>
   <h6 style="margin-bottom: -25px">Parameters :</h6>
   <ul>
      <li>
         <h6>time :</h6>
         <p>Specifies the time range for video selection between the following values :</p>
         <ul>
            <li>daily</li>
            <li>weekly</li>
            <li>monthly</li>
            <li>yearly</li>
         </ul>
         <p>-> If the value is not provided, it will default to 'daily'</p>
      </li>
      <li>
         <h6>lang :</h6>
         <p>Specifies the language for video selection between the following ISO 639-1 standard values :</p>
         <ul>
            <li>EN (🇬🇧 English)</li>
            <li>FR (🇫🇷 French)</li>
            <li>ES (🇪🇸 Spanish)</li>
            <li>RU (🇷🇺 Russian)</li>
            <li>HI (🇮🇳 Hindi)</li>
         </ul>
         <p>-> If the value is not provided, it will default to 'EN'</p>
      </li>
      <li>
         <h6>top :</h6>
         <p>Specifies the number of videos to retrieve starting from the top. The value should be an int greater than 0</p>
         <p>-> If the value is not provided, it will default to 25</p>
         <p><strong>Note :</strong> If the value is bigger then the number of videos it will just retrieve all of them</p>
         <p style="margin-left: 2.5rem"><strong>Ex :</strong> If top is 45 but there are only 21 videos it will retrieve all the 21 in said language in that time</p>
      </li>
   </ul>
   <h6 style="margin-bottom: -15px">Very Importent:</h6>
   <p>
      All parameters are case sensitive and they should be written like in the example above. <br />
      If any error is detected it will return an error message.
   </p>

   <h5 id="example">Code Example</h5>
   <div id="buttons">
      <button class="programming_language" id="python">Python</button>
      <button class="programming_language" id="javascript">JavaScript</button>
      <button class="programming_language" id="ruby">Ruby</button>
      <button class="programming_language" id="c_sharp">C#</button>
   </div>
   <div class="python api_call_example">
      <pre class="code"><code>
<span class="keyword">import</span> <span class="import">requests</span>

<span class="var">url</span><span class="operator"> = </span>"<span class="str">https://bytepicks.com/api/request</span>"
<span class="var">params</span> <span class="operator"> = </span> {
   <span class="str">'time'</span>: '<span class="str">daily</span>',
   <span class="str">'lang'</span>: '<span class="str">EN</span>',
   <span class="str">'top'</span>: <span class="int">30</span>
}

<span class="var">response</span> <span class="operator">=</span> <span class="import">requests</span>.<span class="function">get</span>(<span class="var">url</span>, <span class="var">params</span>)

<span class="keyword">if</span> <span class="var">response</span>.<span class="var">status_code </span><span class="operator">==</span> <span class="int">200</span>:
   <span class="var">data</span> <span class="operator">=</span> <span class="var">response</span>.<span class="function">json</span>()
   <span class="comment"># Process the response data as needed</span>
   <span class="function">print</span>(<span class="var">data</span>)
<span class="keyword">else</span>:
   <span class="function">print</span>(<span class="keyword">f</span><span class="str">"Error: </span>{<span class="var">response</span>.<span class="var">status_code</span>}<span class="str">"</span>)

</code></pre>
   </div>

   <div class="javascript api_call_example">
      <pre class="code"><code>
<span class="keyword">const</span> <span class="var">axios</span> <span class="operator">=</span> <span class="function">require</span>('<span class="str">axios</span>');

<span class="keyword">const</span> <span class="const">url</span> <span class="operator">=</span> <span class="str">'https://bytepicks.com/api/request'</span>;
<span class="keyword">const</span> <span class="const">params</span> <span class="operator">=</span> {
   <span class="str">'time'</span>: '<span class="str">daily</span>',
   <span class="str">'lang'</span>: '<span class="str">EN</span>',
   <span class="str">'top'</span>: <span class="int">30</span>
};

<span class="var">axios</span>.<span class='function'>get</span>(<span class="const">url</span>, { <span class="var">params</span> })
   .<span class="function">then</span>(<span class="var">response</span> <span class="keyword">=></span> {
         <span class="comment">// Process the response data as needed</span>
         <span class="import">console</span>.<span class="function">log</span>(<span class="var">response</span>.<span class="var">data</span>);
   })
   .<span class="function">catch</span>(<span class="var">error</span> <span class="keyword">=></span> {
         <span class="import">console</span>.<span class="function">error</span>(<span class="str">`Error: </span>${<span class="var">error</span>.<span class="var">response</span>.<span class="var">status</span>}<span class="str">`</span>);
   });

</code></pre>
   </div>

   <div class="ruby api_call_example">
      <pre class="code"><code>
<span class="keyword">require</span> <span class="str">'net/http'</span>
<span class="keyword">require</span> <span class="str">'json'</span>

<span class="var">url</span> <span class="operator">=</span> <span class="import">URI</span>.<span class="function">parse</span>(<span class="str">'https://bytepicks.com/api/request'</span>)
<span class="var">params</span> <span class="operator">=</span> {
   <span class="str">'time'</span> => '<span class="str">daily</span>',
   <span class="str">'lang'</span> => '<span class="str">EN</span>',
   <span class="str">'top'</span> => <span class="int">30</span>
}

<span class="var">url</span>.<span class="var">query</span> <span class="operator">=</span> <span class="import">URI</span>.<span class="function">encode_www_form</span>(<span class="var">params</span>)
<span class="var">response</span> <span class="operator">=</span> <span class="import">Net::HTTP</span>.<span class="function">get_response</span>(<span class="var">url</span>)

<span class="keyword">if</span> <span class="var">response</span>.<span class="var">code</span>.<span class="var">to_i</span> <span class="operator">==</span> <span class="int">200</span>
   <span class="var">data</span> <span class="operator">=</span> <span class="import">JSON</span>.<span class="function">parse</span>(<span class="var">response</span>.<span class="var">body</span>)
   <span class="comment"># Process the response data as needed</span>
   <span class="keyword">puts</span> <span class="var">data</span>
<span class="keyword">else</span>
   <span class="keyword">puts</span> <span class="str">"Error: </span>#{<span class="var">response</span>.<span class="var">code</span>}<span class="str">"</span>
<span class="keyword">end</span>

</code></pre>
   </div>

   <div class="c_sharp api_call_example">
      <pre class="code"><code>
<span class="keyword">using</span> <span class="import">System</span>;
<span class="keyword">using</span> <span class="import">System</span>.<span class="import">Net</span>.<span class="import">Http</span>;
<span class="keyword">using</span> <span class="import">System</span>.<span class="import">Threading</span>.<span class="import">Tasks</span>;

<span class="keyword">class</span> <span class="class">Program</span>
{
   <span class="keyword">static</span> <span class="keyword">async</span> <span class="class">Task</span> <span class="function">Main</span>()
   {
      <span class="keyword">var</span> <span class="var">url</span> <span class="operator">=</span> "<span class="str">https://bytepicks.com/api/request</span>";
      <span class="keyword">var</span> <span class="var">parameters</span> <span class="operator">=</span> $<span class="str">"time=daily&lang=EN&top=30"</span>;

      <span class="keyword">using</span> (<span class="keyword">var</span> <span class="var">client</span> <span class="operator">=</span> <span class="keyword">new</span> <span class="function">HttpClient</span>())
      {
         <span class="keyword">var</span> <span class="var">response</span> <span class="operator">=</span><span class="keyword"> await </span><span class="var">client</span>.<span class="function">GetAsync</span>($<span class="str">"</span>{<span class="var">url</span>}<span class="str">?</span>{<span class="var">parameters</span>}<span class="str">"</span>);

         <span class="keyword">if</span> (<span class="var">response</span>.<span class="var">IsSuccessStatusCode</span>)
         {
            <span class="keyword">var</span> <span class="var">responseData</span> <span class="operator">=</span> <span class="keyword">await</span> <span class="var">response</span>.<span class="var">Content</span>.<span class="function">ReadAsStringAsync</span>();
            <span class="comment">// Process the response data as needed</span>
            <span class="keyword">Console</span>.<span class="function">WriteLine</span>(<span class="var">responseData</span>);
         }
         <span class="keyword">else</span>
         {
            <span class="keyword">Console</span>.<span class="function">WriteLine</span>($<span class="str">"Error: </span>{<span class="var">response</span>.<span class="var">StatusCode</span>}<span class="str">"</span>);
         }
      }
   }
}

</code></pre>
   </div>
   <div class="small-screen-message">
      <p>Your screen is too small to display the code.</p>
   </div>
   <h5 id="output">Output Example</h5>
   <div>
      <pre class="code"><code>
<span class="keyword">{</span>
   <span class="var">"Request"</span>: <span class="str">"The top 30 daily videos in EN"</span>,
   <span class="var">"Date"</span>: <span class="str">"21/01/2024 17:59:04"</span>,
   <span class="var">"Result"</span>: <span class="keyword">{</span>

      <span class="var">"513.932"</span>: <span class="keyword">{</span>
         <span class="var">"ChannelName"</span>: <span class="str">"TechLinked"</span>,
         <span class="var">"ChannelId"</span>: <span class="str">"UCeeFfhMcJa1kjtfZAGskOCA"</span>,
         <span class="comment">// (Additional Details About This Video)</span>
      <span class="keyword">}</span>,

      <span class="var">"491.149"</span>: <span class="keyword">{</span>
         <span class="var">"ChannelName"</span>: <span class="str">"Logically Answered"</span>,
         <span class="var">"ChannelId"</span>: <span class="str">"UCZRoNJu1OszFqABP8AuJIuw"</span>,
         <span class="comment">// (Additional Details About This Video)</span>
      <span class="keyword">}</span>,

     <span class="comment">// (Remaining Videos)</span>
   <span class="keyword">}</span>
<span class="keyword">}</span>
</code></pre>
   </div>
   <div class="small-screen-message">
      <p>Your screen is too small to display the code.</p>
   </div>
   <h5 id="notice">Notice</h5>
   <p>
      We are a small team with limited resources and we kindly ask you not to abuse our API or send an excessive number of requests in a short time. We aim to keep our API open and accessible, and we appreciate your cooperation in helping us maintain
      its availability.
   </p>

   <p>Feel free to explore the Byte Picks API and discover the best in tech content. If you have any questions or need assistance, please refer to our <a href="{{ url_for('contact') }}">contact page</a>. Happy coding!</p>
</main>
{% endblock %}
