{% extends "base.html" %} {% block title %}
<title>Byte Picks - Behind the Scene</title>
{% endblock %} {% block content %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<main id="explaination">
   <h1 style="margin-bottom: -20px">Behind The Scene</h1>
   <h4>How do we differ from the competition ?</h4>
   <p>
      We, at Byte Picks, do things a bit differently than the usual platforms. Our approach to content selection and filtering is unique, backed by advanced algorithms that always showcase our content in the best light for our users. We employ
      cutting-edge tools and techniques to keep things modern.
   </p>
   <p>
      But hey, we're not keeping these secrets to ourselves, we believe in transparency and continuous improvement, just like any good community does. So, here's the lowdown on our all-mighty algorithm and genius engineering to make such a thing
      happen. Check out our open-source <a href="https://github.com/RedeemedSpoon/BytePicks">code</a>, contribute if you fancy, and remember, we're all ears for your ideas!
   </p>
   <h4>How we operate under the hood ?</h4>
   <p>
      Beneath the surface, our web service's codebase is openly available on <a href="https://github.com">GitHub</a>, a testament to our commitment to transparency and collaboration. Simplifying our hosting needs, we leverage
      <a href="https://render.com">Render</a> to power our website, manage the backend, take care of the boring admin tasks and automate recurring tasks. The essential components of our digital identity, including the URL and communication email, are
      derived from <a href="https://Namecheap.com">Namecheap</a>. There are our only expences, which is impressively low, under $20 a month, and everything is taken care of. Power of the cloud I guess...
   </p>
   <img class="python_img" src="{{ url_for('static', filename='Assets/python.jpg') }}" alt="Backend with python" />
   <p>
      Transitioning to the heart of our operation, <a href="https://www.python.org">Python</a> emerges as a pivotal player. <a href="https://Flask.palletsprojects.com/">Flask</a>, a powerful web framework, orchestrates URL handling, redirects,
      flashes, form data collection, and the creation of a RESTful API through the magic, with some help of <a href="https://Jinja.palletsprojects.com/">Jinja</a> templating. At a deeper level, we employ
      <a href="https://pandas.pydata.org">Pandas</a> for storing, analyzing, and manipulating channel data in a covert CSV format. The unsung hero, JSON, becomes the linchpin for simple yet effective data storage and retrieval within the market
      context. Never thought in my life I would love anything remotely close to JavaScript.
   </p>
   <p>
      Notably, <a href="https://SQLite.org">SQLite</a> steps in as the guardian of sensitive information, safeguarding user email, channels Information and preferences. A sprinkle of additional libraries, such as
      <a href="https://jquery.com/">jQuery</a> and python isodate, datetime, sys, os join the ensemble to enhance functionality and interactivity. And all of this isn't even remotely complicated or impressive for today's standards for web
      development, which will make some sure pee their pants.
   </p>

   <h4>How we collect YouTube data ?</h4>
   <p>
      Thanks to the robust infrastructure provided by Google (obviously they are Google), we tap into the <a href="https://developers.google.com/youtube/v3">YouTube API</a> with finesse, wielding nothing more than an API key and a few lines of code.
      Simplifying this process even further is the Google API client library for Python, aptly named <a href="https://pypi.org/project/google-api-python-client/">googleapiclient</a> offering us simple functions to call and some parameters. I just
      need to have an api key that I got the <a href="https://console.cloud.google.com">google cloud console</a> with over a 10,000 quota points which is more then enough for me. Here is a code snippet example:
   </p>
   <pre class="code"><code>
<span class="keyword">import</span> <span class="import">os</span>
<span class="keyword">from</span> <span class="import">googleapiclient</span>.<span class="import">discovery</span> <span class="keyword">import</span> <span class="function">build</span>

<span class="keyword">if</span> <span class="var">__name__</span> <span class="operator">==</span> <span class="str">"__main__"</span>:
   <span class="const">API_KEY</span> <span class="operator">=</span> <span class="import">os</span>.<span class="var">environ</span>.<span class="function">get</span>(<span class="str">"YT_API_KEY"</span>)
   <span class="var">service</span> <span class="operator">=</span> <span class="function">build</span>(<span class="str">"youtube"</span>, <span class="str">"v3"</span>, <span class="const">API_KEY</span>)
</code></pre>
   <div class="small-screen-message">
      <p>Your screen is too small to display the code.</p>
   </div>
   <h4>How we dicover & find new channels ?</h4>
   <p>
      We use the search().list() methods provided by the YouTube API to search for content all over the platform with a few keywords like "Tech", "Programming", "Computer Science" using the OR operator. We sort by relevance and only search for
      channels with any specified language or region, as each page has 50 results. We use a for loop to go get the next one and extract the information we need, which is the channel ID only. Then, to create a profile for each channel, we use the channels().list() method for EACH of the channels to extract the data that we need. This is an exemple with the Fireship channel in the csv format :</p>

   <pre class="code"><code>
ChannelID,<span class="keyword">ChannelName</span>,<span class="function">ChannelIcon</span>,<span class="str">ChannelUrl</span>,<span class="comment">ExistedSince</span>,<span class="var">SubscriberCount</span>,<span class="int">VideoCount</span>,<span class="bool">ViewCount</span>,<span class="operator">Country</span>
CsBjURrPoezykLs9EqgamOA,<span class="keyword">Fireship</span>,<span class="function">https://yt3.ggpht.com/ytc/AIf8zZTUVa5AeFd3m5-4fdY2hEaKof3Byp8VruZ0f0FNEA</span>,
<span class="str">https://www.youtube.com/@fireship</span>,<span class="comment">2017-04-07</span>,<span class="var">2750000</span>,<span class="int">601</span>,<span class="bool">364500037</span>,<span class='operator'>US</span>
</code></pre>
   <div class="small-screen-message">
      <p>Your screen is too small to display the code.</p>
   </div>
   <p>
      We make a list, concatenate it with the existing data, and store it in a CSV with pandas, making sure to drop duplicates and NaN. Obviously, we also put some channels we ourselves like, such as Sumsub or Rossmann, to ensure we get the best
      content. We also remove any dead channels or bad ones. This sums up the process, and if you are curious, here is some part of it :
   </p>
   <pre class="code"><code>
<span class="var">request</span> <span class="operator">=</span> <span class="var">service</span>.<span class="function">search</span>().<span class="function">list</span>(
   <span class="var">q</span><span class="operator">=</span><span class="str">"Tech | Programming | Computer Science"</span>,
   <span class="var">type</span><span class="operator">=</span><span class="str">"channel"</span>, <span class="var">part</span><span class="operator">=</span><span class="str">"id"</span>,
   <span class="var">maxResults</span><span class="operator">=</span><span class="int">50</span>, <span class="var">order</span><span class="operator">=</span><span class="str">"relevance"</span>, 
   <span class="var">relevanceLanguage</span><span class="operator">=</span><span class="str">"en"</span>, <span class="var">regionCode</span><span class="operator">=</span><span class="str">"US"</span>
)

<span class="var">response</span> <span class="operator">=</span> <span class="var">request</span>.<span class="function">execute</span>()
<span class="keyword">for</span> <span class="var">item</span> <span class="keyword">in</span> <span class="var">response</span>.<span class="function">get</span>(<span class="str">"items"</span>, []):
   <span class="var">tempId</span> <span class="operator">=</span> <span class="var">item</span>[<span class="str">"id"</span>][<span class="str">"channelId"</span>]
   <span class="var">searchedChannels</span>.<span class="function">append</span>(<span class="var">tempId</span>)

<span class="comment"># Other code...</span>    

<span class="keyword">for</span> <span class="var">channel</span> <span class="keyword">in</span> <span class="var">searchedChannels</span>
   <span class="var">request</span> <span class="operator">=</span> <span class="var">service</span>.<span class="function">channels</span>().<span class="function">list</span>(<span class="var">part</span><span class="operator">=</span>[<span class="str">"snippet"</span>, <span class="str">"statistics"</span>, ... ], <span class="var">id</span><span class="operator">=</span><span class="var">channel</span>)
   <span class="var">response</span> <span class="operator">=</span> <span class="var">request</span>.<span class="function">execute</span>()

   <span class="var">channelInfo</span> <span class="operator">=</span> {
      <span class="str">"ChannelID"</span>: <span class="var">response</span>[<span class="str">"items"</span>][<span class="int">0</span>][<span class="str">"id"</span>][<span class="str">"channelId"</span>],
      <span class="str">"ChannelURL"</span>: <span class="var">response</span>[<span class="str">"items"</span>][<span class="int">0</span>][<span class="str">"snippet"</span>][<span class="str">"customUrl"</span>],
      <span class="str">"ChannelName"</span>: <span class="var">response</span>[<span class="str">"items"</span>][<span class="int">0</span>][<span class="str">"snippet"</span>][<span class="str">"title"</span>],
      <span class="str">"ChannelIcon"</span>: <span class="var">response</span>[<span class="str">"items"</span>][<span class="int">0</span>][<span class="str">"snippet"</span>]["<span class="str">thumbnails"</span>][<span class="str">"medium"</span>][<span class="str">"url"</span>],
      <span class="comment"># Additional information about that channel</span> 
   }

   <span class="var">channels</span>.<span class="function">append</span>(<span class="var">channelInfo</span>)

<span class="var">df</span> <span class="operator"><span class="operator">=</span></span> <span class="var">pd</span>.<span class="class">DataFrame</span>(<span class="var">channels</span>)
<span class="var">df</span> <span class="operator"><span class="operator">=</span></span> <span class="var">pd</span>.<span class="function">concat</span>([<span class="var">channelDF</span>, <span class="var">df</span>], <span class="var">ignore_index</span><span class="operator">=</span><span class="bool">True</span>)
<span class="var">df</span>.<span class="function">drop_duplicates</span>(<span class="var">inplace</span><span class="operator">=</span><span class="bool">True</span>)
<span class="var">df</span>.<span class="function">dropna</span>(<span class="var">inplace</span><span class="operator">=</span><span class="bool">True</span>)
<span class="var">df</span>.<span class="function">to_csv</span>(<span class="str">"data/channels.csv"</span>, <span class="var">index</span><span class="operator">=</span><span class="bool">False</span>)
   </code></pre>
   <div class="small-screen-message">
      <p>Your screen is too small to display the code.</p>
   </div>
	<p>
		 In our latest update, we sought to refine and enhance our channel selection process, including discovering some previously overlooked ones. To achieve this, we developed a web scraper using <a href="https://www.selenium.dev/documentation/webdriver/">Selenium WebDriver</a>.
		 Essentially, it performs a search for a random tech topic on YouTube, collects the channel URLs from the top results, clicks on random videos, and gathers the creators' information. This process is repeated at least 7 times or more. Subsequently, we utilize the <a href="https://www.streamweasels.com/tools/youtube-channel-id-and-user-id-convertor/">YouTube Channel ID Finder</a> to obtain the IDs associated with these channels.
		 With the IDs in hand, we use then a slightly modified version of our updateChannelInfo() function to process the data. While the code is lengthy, here's a snippet:
	</p>
	<pre class="code"><code>
<span class="var">driver</span> <span class="operator">=</span> <span class="import">webdriver</span>.<span class="function">Firefox</span>(<span class="var">options</span><span class="operator">=</span><span class="var">options</span>)
<span class="var">chosenTopic</span> <span class="operator">=</span> <span class="function">choice</span>(<span class="var">searchTerms</span>)
<span class="var">searchTerms</span>.<span class="function">remove</span>(<span class="var">chosenTopic</span>)
<span class="var">driver</span>.<span class="function">get</span>(<span class="str">f"https://www.youtube.com/results?search_query={chosenTopic}&lr=lang_en"</span>)

<span class="var">allRecommendedChannels</span> <span class="operator">=</span> <span class="var">driver</span>.<span class="function">find_elements</span>(<span class="import">By</span>.<span class="var">ID</span>, <span class="str">"channel-thumbnail"</span>)
<span class="var">channels</span> <span class="operator">=</span> [<span class="var">channel</span>.<span class="function">get_attribute</span>(<span class="str">"href"</span>).<span class="function">split</span>(<span class="str">"@"</span>)[<span class="int">1</span>] <span class="keyword">for</span> <span class="var">channel</span> <span class="keyword">in</span> <span class="var">allRecommendedChannels</span>]

<span class="var">videoLinks</span> <span class="operator">=</span> <span class="import">driver</span>.<span class="function">find_elements</span>(<span class="import">By</span>.<span class="var">CSS_SELECTOR</span>, <span class="str">"a#video-title"</span>)
<span class="function">choice</span>(<span class="var">videoLinks</span>[<span class="int">5</span>:]).<span class="function">click</span>()

<span class="keyword">for</span> <span class="var">i</span> <span class="keyword">in</span> <span class="var">range</span>(<span class="int">7</span>):
      <span class="var">recommendedChannel</span> <span class="operator">=</span> <span class="import">driver</span>.<span class="function">find_element</span>(<span class="import">By</span>.<span class="var">CSS_SELECTOR</span>, <span class="str">"a.ytd-video-owner-renderer"</span>)
      <span class="var">recommendedVideo</span> <span class="operator">=</span> <span class="import">driver</span>.<span class="function">find_elements</span>(<span class="import">By</span>.<span class="var">TAG_NAME</span>, <span class="str">"ytd-compact-video-renderer"</span>)
      <span class="function">choice</span>(<span class="var">recommendedVideo</span>[:<span class="int">5</span>]).<span class="function">click</span>()
      <span class="var">channels</span>.<span class="function">append</span>(<span class="var">recommendedChannel</span>.<span class="function">get_attribute</span>(<span class="str">"href"</span>).<span class="function">split</span>(<span class="str">"@"</span>)[<span class="int">1</span>])
	</code></pre>
   <div class="small-screen-message">
      <p>Your screen is too small to display the code.</p>
   </div>
	<p>
		 You can download our database of YouTube channels using the button at the bottom of this text. It provides the current channel information and many other details that make this service possible. 
		 Note that some cells may contain "Unknown" as the value because YouTube does not have information about them. You can also redownload this database at any time to update the list. If you want to add or delete channels,
		 feel free to <a href="{{ url_for('contact')}}">contact us</a>. You are welcome to use this database anywhere. We believe that transparency and openness will only but bring more opportunities and trust :)
	</p>
	<a href="{{url_for('download')}}" target="_self">
		<button class="primarybtn" style="scale: 1.150; padding: 15px 20px">Download CSV</button>
	</a>
   <h4>How we get the videos ?</h4>
   <p>
      Remember our CSV with every tech channel in it? Using a simple for loop, we extract the channel ID to use in the Google API function `activities().list()`. This function showcases the recent activities of the channel, including uploaded videos,
      which is what we are looking for. We extract information for every video such as thumbnails, ID, title, who posted the video, and when it was posted. To dive deeper, we need another method, `videos().list()`. By specifying the video ID we
      obtained previously, we get the final missing part of the puzzle – statistics and content rating. Here is a code snippet of it :
   </p>
   <pre class="code"><code>
<span class="keyword">for</span> <span class="var">channel</span> <span class="keyword">in</span> <span class="var">channelDF</span>[<span class="str">"ChannelID"</span>]:
   <span class="var">request</span> <span class="operator">=</span> <span class="var">service</span>.<span class="function">activities</span>().<span class="function">list</span>(
      <span class="var">part</span><span class="operator">=</span>[<span class="str">"snippet"</span>, <span class="str">"id"</span>, <span class="str">"contentDetails"</span>],
      <span class="var">publishedAfter</span><span class="operator">=</span><span class="var">yesterday</span>.<span class="function">isoformat</span>() <span class="operator">+</span> <span class="str">"T00:00:00Z"</span>,
      <span class="var">channelId</span><span class="operator">=</span><span class="var">channel</span>, <span class="var">maxResults</span><span class="operator">=</span><span class="int">50</span>, <span class="var">fields</span><span class="operator">=</span><span class="const">FIELDS</span>,
   )

   <span class="var">response</span> <span class="operator">=</span> <span class="var">request</span>.<span class="function">execute</span>()
      <span class="keyword">for</span> <span class="var">item</span> <span class="keyword">in</span> <span class="var">response</span>[<span class="str">"items"</span>]:
         <span class="var">channelName</span> <span class="operator">=</span> <span class="var">item</span>[<span class="str">"snippet"</span>][<span class="str">"channelTitle"</span>]
         <span class="var">channelId</span> <span class="operator">=</span> <span class="var">item</span>[<span class="str">"snippet"</span>][<span class="str">"channelId"</span>]
         <span class="var">videoId</span> <span class="operator">=</span> <span class="var">item</span>[<span class="str">"contentDetails"</span>][<span class="str">"upload"</span>][<span class="str">"videoId"</span>]
         <span class="comment"># Additional information...</span>

         <span class="var">request</span> <span class="operator">=</span> <span class="var">service</span>.<span class="function">videos</span>().<span class="function">list</span>(<span class="var">id</span><span class="operator">=</span><span class="var">videoId</span>, <span class="var">part</span><span class="operator">=</span>[<span class="str">"statistics"</span>, <span class="str">"snippet"</span>, <span class="str">"contentDetails"]</span>)
         <span class="var">response</span> <span class="operator">=</span> <span class="var">request</span>.<span class="function">execute</span>()
         
         <span class="var">viewCount</span> <span class="operator">=</span> <span class="int">int</span>(<span class="var">response</span>[<span class="str">"items"</span>][<span class="int">0</span>][<span class="str">"statistics"</span>][<span class="str">"viewCount"</span>])
         <span class="var">likeCount</span> <span class="operator">=</span> <span class="int">int</span>(<span class="var">response</span>[<span class="str">"items"</span>][<span class="int">0</span>][<span class="str">"statistics"</span>][<span class="str">"likeCount"</span>])
         <span class="var">contentRating</span> <span class="operator">=</span> <span class="var">response</span>[<span class="str">"items"</span>][<span class="int">0</span>][<span class="str">"contentDetails"</span>][<span class="str">"contentRating"</span>]
         <span class="var">duration</span> <span class="operator">=</span> <span class="import">isodate</span>.<span class="function">parse_duration</span>(<span class="var">response</span>[<span class="str">"items"</span>][<span class="int">0</span>][<span class="str">"contentDetails"</span>][<span class="str">"duration"</span>])
         <span class="comment"># Again, remaining additional information...</span>
</code></pre>
   <div class="small-screen-message">
      <p>Your screen is too small to display the code.</p>
   </div>
   <p>
      Now that we have everything we need, we can process the data and loop through the next ones. But before everything, we need to filter out unworthy content with an if statement, such as videos less than 30 seconds, those
      with less than 1000 views, those not in our set languages, or don't have a category ID either of 27 or 28, which is the category for technological and educational videos. After handling all of this, we finally get the desired result in a JSON
      format. Again an exmple of a Fireship video here to demonstrate :
   </p>
   <pre class="code"><code>
<span class="var">"ChannelName"</span>: <span class="str">"Fireship"</span>,
<span class="var">"ChannelId"</span>: <span class="str">"UCsBjURrPoezykLs9EqgamOA"</span>,
<span class="var">"ChannelIcon"</span>: <span class="str">"https://yt3.ggpht.com/ytc/AIf8zZTUVa5AeFd3m5-4fdY2hEaKof3Byp8VruZ0f0FNEA"</span>,
<span class="var">"ChannelUrl"</span>: <span class="str">"https://www.youtube.com/@fireship"</span>,
<span class="var">"VideoUrl"</span>: <span class="str">"https://www.youtube.com/watch?v=ky5ZB-mqZKM"</span>,
<span class="var">"VideoTitle"</span>: <span class="str">"AI influencers are getting filthy rich... let's build one"</span>,
<span class="var">"VideoId"</span>: <span class="str">"ky5ZB-mqZKM"</span>,
<span class="var">"PublishedDate"</span>: <span class="str">"2023-11-29 21:06"</span>,
<span class="var">"Thumbnail"</span>: <span class="str">"https://i.ytimg.com/vi/gGWQfV1FCis/mqdefault.jpg"</span>,
<span class="var">"Duration"</span>: <span class="str">"0:04:25"</span>,
<span class="var">"Definition"</span>: <span class="str">"HD"</span>,
<span class="var">"language"</span>: <span class="str">"EN"</span>,
<span class="var">"Caption"</span>: <span class="bool">false</span>,
<span class="var">"ContentRating"</span>: <span class="bool">false</span> ,
<span class="var">"ViewCount"</span>: <span class="int"> 4091018</span>,
<span class="var">"LikeCount"</span>: <span class="int">156078</span>,
<span class="var">"CommentCount"</span>: <span class="int">5052</span>,
<span class="var">"CategoryId"</span>: <span class="int">28</span>
</code></pre>
   <div class="small-screen-message">
      <p>Your screen is too small to display the code.</p>
   </div>
   <h4>How We Sort, Rank & Store These Videos?</h4>
   <p>
      Now comes the part you've been waiting for. Sorting, ranking, and storing data is a complex and meticulous process, setting apart good work from the not-so-good, especially when it involves algorithms. Speaking of which, we have a simple yet
      robust algorithm built on the data we've collected earlier. Like any algorithm, it requires dealing with numbers, not strings and booleans. Therefore, our first step is to convert strings into numbers, specifically into a quality measure. For
      instance, videos with captions deserve a higher rating than those without. So, we assign a value of 1 to "CaptionQuality" if true and 0.9 if false. The same principle applies to "DefinitionQuality" and "ContentRating." We also introduce a bias,
      favoring longer videos (30-45 minutes) while slightly disadvantaging those shorter than 10 minutes. Popularity-wise, larger channels with millions of subscribers are disadvantaged, whereas those with less than 100K receive a slight boost. With
      these adjustments, we now have a float variable between 1.3 and 0.7, representing the video's quality, which will be used in our algorithm. Here's the equation:
   </p>
   <p class="math">\( \text{QualityMultiplier} = \text{SubscriberBalance} \times \text{DefinitionQuality} \times \text{CaptionQuality} \times \text{RatingQuality} \times \text{DurationQuality} \)</p>
   <div class="small-screen-message">
      <p>Your screen is too small to display the formula.</p>
   </div>
   <p>
      The first part is done. Moving on to the second part, we utilize video statistics, a crucial aspect that truly reflects the video's quality, especially factors like the like-rate. We consider three values: like-rate (% of likes per view),
      comment-rate (% of comments per view), and view-rate (% of views per channel subscribers). To maintain balance, we normalize them using a logarithmic function. After normalization, we adjust the importance of each factor, dividing the view-rate
      by 3.25 and multiplying the comment-rate by 1.25. These adjusted values are then combined, multiplied by the QualityMultiplier, and scaled by 100 for readability. The final rating formula looks like this:
   </p>
   <p class="math">\( \text{Rating} = (\text{ViewRate} + \text{LikeRate} + \text{CommentRate}) \times \text{QualityMultiplier} \times 100 \)</p>
   <div class="small-screen-message">
      <p>Your screen is too small to display the formula.</p>
   </div>
   <p>
      With the rating now complete, the final step is to sort and store the videos. We accomplish this using Python and the JSON format, employing dictionary methods, slicing, along with the `open("file.json") as file` and `json.dump()` methods. Now,
      it's just a matter of selecting the right number of videos for different timeframes: 60 maximum videos each day, 35 (5 * 7) each week, 40 (10 * 4) each month, and 60 (5 * 12) each year. Below is the code snippet illustrating this:
   </p>
<pre class="code"><code>
<span class="keyword">for</span> <span class="var">lang</span>, <span class="var">videos</span> <span class="keyword">in</span> <span class="var">Videos</span>.<span class="function">items</span>():
    <span class="keyword">for</span> <span class="var">time</span> <span class="keyword">in</span> [<span class="str">"daily"</span>, <span class="str">"weekly"</span>, <span class="str">"monthly"</span>, <span class="str">"yearly"</span>]:
        <span class="keyword">with</span> <span class="function">open</span>(<span class="keyword">f</span><span class="str">"{time}.json"</span>, <span class="str">"r"</span>) <span class="keyword">as</span> <span class="var">f</span>:
            <span class="var">data</span> <span class="operator">=</span> <span class="var">json</span>.<span class="function">load</span>(<span class="var">f</span>)

        <span class="keyword">if</span> <span class="var">time</span> <span class="operator">==</span> <span class="str">"daily"</span>:
            <span class="var">topDay</span> <span class="operator">=</span> <span class="import">OrderedDict</span>(<span class="function">sorted</span>(<span class="var">videos</span>.<span class="function">items</span>(), <span class="var">key</span><span class="operator">=</span><span class="keyword">lambda</span> <span class="var">item</span>: <span class="import">float</span>(<span class="var">item</span>[<span class="int">0</span>]), <span class="var">reverse</span><span class="operator">=</span><span class="const">True</span>))
            <span class="var">data</span>[<span class="var">lang</span>] <span class="operator">=</span> <span class="import">OrderedDict</span>(<span class="function">list</span>(<span class="var">topDay</span>.<span class="function">items</span>())[:<span class="int">40</span>])

        <span class="keyword">elif</span> <span class="var">time</span> <span class="operator">==</span> <span class="str">"weekly"</span>:
            <span class="var">topWeek</span> <span class="operator">=</span> <span class="function">updateVideos</span>(<span class="var">data</span>[<span class="var">lang</span>], <span class="var">time</span>)
            <span class="var">topWeek</span>.<span class="function">update</span>(<span class="import">OrderedDict</span>(<span class="function">list</span>(<span class="var">topDay</span>.<span class="function">items</span>())[:<span class="int">5</span>]))
            <span class="var">topWeek</span> <span class="operator">=</span> <span class="import">OrderedDict</span>(<span class="function">sorted</span>(<span class="var">topWeek</span>.<span class="function">items</span>(), <span class="var">key</span><span class="operator">=</span><span class="keyword">lambda</span> <span class="var">item</span>: <span class="import">float</span>(<span class="var">item</span>[<span class="int">0</span>]), <span class="var">reverse</span><span class="operator">=</span><span class="const">True</span>))
            <span class="var">data</span>[<span class="var">lang</span>] <span class="operator">=</span> <span class="var">topWeek</span>

         <span class="keyword">with</span> <span class="function">open</span>(<span class="keyword">f</span><span class="str">"{time}.json"</span>, <span class="str">"w"</span>) <span class="keyword">as</span> <span class="var">f</span>:
            <span class="var">json</span>.<span class="function">dump</span>(<span class="var">data</span>, <span class="var">f</span>, <span class="var">indent</span><span class="operator">=</span><span class="int">4</span>)
</code></pre>
   <div class="small-screen-message">
      <p>Your screen is too small to display the code.</p>
   </div>
   <h4>How we automate both our newsletter and this ?</h4>
   <p>
      Using cron jobs, simple right? Render has such functionality in their service, so we took advantage of it. If you don't know what cron is, well, you should. The cron command-line utility is a job scheduler on Unix OSes. It is often used to set
      up and maintain software environments because of how simple it is to schedule jobs like running commands or sending emails. And this is exactly what we did. Every day at 11 PM 50 Min, it runs a bash file that, collect the active database of our newsletter, run two Python files, one of them fetching YouTube Data and manipulating it and
      the other following it by sending the newsletter, afterward, if no errors where met, it copy the new json data to the production server. Lovely Unix never ceases to impress.
   </p>
   <pre class="code"><code>
<span class="comment">#!/bin/bash</span>

<span class="var">fileList</span><span class="operator">=</span><span class="str">"daily.json weekly.json monthly.json yearly.json token.json channels.csv"</span>
<span class="var">remoteDir</span><span class="operator">=</span><span class="str">"/opt/render/project/src"</span>

<span class="function">scp -s </span><span class="var">$SERVER_NAME</span><span class="str">@ssh.oregon.render.com:</span><span class="var">$remoteDir</span><span class="str">/newsletter.db</span> <span class="str">.</span>
<span class="function">python</span> <span class="str">youtube.py </span><span class="operator">&&</span> <span class="function">python</span> <span class="str">newsletter.py</span>

<span class="keyword">if</span> [[ <span class="var">$?</span> <span class="operator">-ne</span> <span class="int">0</span> ]]; <span class="keyword">then</span>
  <span class="function">echo</span> <span class="str">"Error: Script(s) exited with non-zero code."</span> <span class="operator">>></span> <span class="str">youtube.log</span>
<span class="keyword">else</span>
  <span class="function">scp -s </span><span class="var">$fileList $SERVER_NAME</span><span class="str">@ssh.oregon.render.com:</span><span class="var">$remoteDir</span>
<span class="keyword">fi</span>

</code></pre>
   <div class="small-screen-message">
      <p>Your screen is too small to display the code.</p>
   </div>
</main>
{% endblock %}
