{% extends "base.html" %} {% block title %}
<title>Byte Picks - Home</title>
{% endblock %} {% block content %}
<main>
   <div id="start">
      <img id="stylish" src="{{ url_for('static', filename='Assets/welcome.png') }}" alt="Welcome Image" draggable="false" />
      <div class="text-container">
         <h2>> <span id="welcome_text"></span><span class="cursor">_</span></h2>
      </div>
   </div>

   <div class="introductory">
      <h1>Welcome to Byte Picks!</h1>
      <h6>Say Goodbye to Endless YouTube Scrolling, We Have Your Shortcut to Excellence.</h6>
      <h3 style="margin: -5px 0">We've Cracked the<span class="alt_text">Code!</span></h3>
      <h5>Dive Straight Into Tech's Finest, no Fluff or Fuss.</h5>
   </div>

   <div id="slider">
      <img src="{{ url_for('static', filename='Assets/grunge.jpg') }}" alt="Grunge" draggable="false" />
      <div style="display: flex">
         {% for video_id, video in videos.items() %}
         <img draggable="false" alt="All YT Thumbnail" src="{{ video.Thumbnail }}" />
         {% endfor %}
      </div>
   </div>

   <section class="welcome">
      <img src="{{ url_for('static', filename='Assets/lead.jpg') }}" alt="Best Product" />
      <div>
         <h1>Unparalleled Excellence</h1>
         <p>
            Forget the noise. We're here to curate, filter, and serve up the finest tech content from YouTube. Don't believe us? Just take a look <a href="{{ url_for('explaination') }}">Behind the Scenes</a>. Anyways, think of us as your trusty
            guide, ensuring you're only a click away from videos that truly matter. After all, we're not just a service, we're a community fueled by a passion for quality.
         </p>
      </div>
   </section>

   <section class="welcome">
      <img style="grid-area: 1 / 2 / 1 / 2 !important" src="{{ url_for('static', filename='Assets/means.jpg') }}" alt="Newsletter" />
      <div style="grid-area: 1 / 1 / 1 / 1 !important">
         <h1>Stay Connected, Anytime, Anywhere</h1>
         <p>
            Whether you're on the move or relaxing at home, we've got you covered. Subscribe to our <a href="{{ url_for('newsletter') }}">Newsletter</a> for curated updates everyday or week without hassle. Our goal? Making quality tech easily
            accessible wherever you are.
         </p>
      </div>
   </section>

   <section class="welcome">
      <img src="{{ url_for('static', filename='Assets/develop.jpg') }}" alt="Api request" />
      <div>
         <h1>Seamless Integration for Developers</h1>
         <p>
            Developers, take note! Our <a href="{{ url_for('api') }}">API</a> is designed for easy integration, ensuring you can harness the power of Byte Picks within your own applications. It's all about making tech discovery effortless and
            enjoyable.
         </p>
      </div>
   </section>

   <section class="welcome">
      <img style="grid-area: 1 / 2 / 1 / 2 !important" src="{{ url_for('static', filename='Assets/creator.jpg') }}" alt="Share" />
      <div style="grid-area: 1 / 1 / 1 / 1 !important">
         <h1>Got a Recommendation? Let's Hear It!</h1>
         <p>
            Stumbled upon a fantastic creator we're yet to feature? Share your hidden gems with us. We're all ears and always on the lookout for fresh, top-tier content to elevate our community's experience. You can contact us right
            <a href="{{ url_for('contact') }}">Here.</a>
         </p>
      </div>
   </section>

   <div class="introductory">
      <h3>Enough Waiting Around!</h3>
      <h4 style="margin: 30px">We're free, friendly, and fiercely focused on quality.</h4>
      <h2 style="margin: -10px 0 75px 0">Ready to<a href="{{ url_for('dashboard') }}" class="alt_text">Dive In?</a></h2>
   </div>
</main>
{% endblock %}
