{% extends "base.html" %} {% block title %}
<title>Byte Picks - Privacy Policy</title>
{% endblock %} {% block content %}
<main class="plain_text">
   <h2>Hey There! Let's Talk Privacy at Byte Picks</h2>
   <p>Thanks for stopping by! At Byte Picks, we like to keep things real and straightforward, especially when it comes to how we handle your info. Let's break it down for you.</p>

   <h4>Your Data? We've Got Your Back</h4>
   <p>
      We're pretty chill when it comes to your data. First off, we're not in the business of selling or trading it to anyone. Nope, not our thing. Hell, we don't even use cookies to log your sessions; it's almost like a static, no-JS website. This
      may be perceived as a weakness, but we make it our strength. We never go against our own beliefs because we, too, are tired of this excessive burden that is fingerprinting and online tracking.
   </p>

   <h4>Why Do We Collect Info Anyway?</h4>
   <p>
      We want you to know that we're all about minimalism when it comes to data collection. Unless you've specifically opted in for our <a href="{{ url_for('newsletter') }}">Newsletter</a>, we don't collect any additional information. Your privacy
      and trust are paramount to us, and we're committed to keeping things as straightforward as possible.
   </p>

   <h4>Open Book: Our Code's on GitHub</h4>
   <p>
      Transparency is key, right? That's why we put our <a href="https://github.com/RedeemedSpoon/BytePicks">code</a> out there on GitHub. Feel free to take a look! We're all about being open and upfront, so you know exactly what's going on behind
      the scenes. Trust is essential, and we want to earn yours fair and square.
   </p>

   <h4>Keeping Things Secure</h4>
   <p>
      We take security seriously, no doubt about it. Your info, especially any sensitive bits, gets the VIP treatment with top-notch encryption and secure storage. We're talking Fort Knox-level security here. Your peace of mind? That's our priority.
   </p>

   <h4>Your Voice Matters</h4>
   <p>We're all ears! If you've got questions, feedback, or just want to chat about our Privacy Policy, hit us up. Your thoughts help us stay on track and ensure we're doing right by you. We're in this together, after all.</p>

   <h4>We're Committed to Doing Right</h4>
   <p>
      At the end of the day, we're all about doing right by our users. Our Privacy Policy reflects our commitment to honesty, transparency, and treating you with the respect you deserve. We're not perfect, but we're always striving to be better,
      especially when it comes to safeguarding your privacy.
   </p>

   <p>If you have thoughts, suggestions, or just want to connect, know that you can also <a href="{{ url_for('contact') }}">contact us</a>. Thanks for being an essential part of our community!</p>
</main>
{% endblock %}
